/*****  GAME ANIMATION ******/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-image {
  background-image: url(./img/Img_1.png);
  background-size: cover;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  width: 80vw;
  height: 700px;
}

.ground {
  background-image: url(./img/Img_02.png);
}
