* {
  box-sizing: border-box;
  margin: 0;
  padding: ;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(4, 25vh); */
  grid-template-rows: 25vh repeat(3, calc(25vh - 0.5rem));

  /* gap: 1rem 2rem; */
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.content {
  background-color: lightcyan;
  /* border: 1px solid red; */
}
