body {
    background-image: linear-gradient();
}


h1 {
    margin: auto;
    padding: 5px;
    text-align: center;

}

div {
    background-color: rgb(112, 222, 224);
    margin-top: 5rem;
    height: 400px;
    /* width: 50; */
    margin: 30px 60px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}