//********************************************/
//* STYLE:SCSS
//********************************************/

@use "./abstracts/variables" as v;
// @import "./abstracts/colors";

body {
  font-family: v.$fontFamily;
  background-color: v.$bgColor;
  font-size: v.$fontSize;
  color: v.$fontColor;
}
