@import "theme.css";
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--ff-monteserrat);
  background-color: var(--mavi-9);
  color: var(--siyah);
  font-weight: 500;
  margin: 1rem;
}

h1 {
  background-color: var(--koyu-kirmizi);
  width: 20rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 30px;
  text-align: center;
  margin: 2rem auto;
}
.header {
  background-color: var(--koyu-yesil);
  padding: 1rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  background-color: var(--gri-3);
}

.navbar a {
  text-decoration: none;
  color: var(--beyaz);
  padding: 1rem 1.5rem;
}

.navbar a:hover {
  background-color: var(--gri-7);
}
