/******** SHAKE *******/
<<<<<<< HEAD

div {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

div i {
    font-size: 10rem;
    color: purple;
}

.fa-bell:hover {
    animation-name: shake;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.fa-dollar-sign {
    animation: dance 1s ease-in-out infinite alternate forwards;
}

.fa-dollar-sign:hover {

}

@keyframes dance {
    from {
        transform: skew(30deg);
    }
    to { transform: skew(-30deg);

    }
}

@keyframes shake {
    0% {
        transform: rotate(35deg);
    }
    50% {
        transform: rotate(-35deg);
    }
    100% {
        transform: rotate(0deg);
    }

=======
div {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

div i {
  font-size: 10rem;
  color: purple;
}

.fa-bell:hover {
  animation-name: shake;
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.fa-dollar-sign {
  animation: snake 0.2s ease-in-out infinite alternate forwards;
}

.fa-dollar-sign:hover {
  animation-play-state: paused;
}

@keyframes shake {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes snake {
  from {
    transform: skew(45deg);
  }

  to {
    transform: skew(-45deg);
  }
>>>>>>> 4ce1b1b9a7bf5bcd8b390b04c265352ea66738ff
}
